<h1>Add a Pet</h1>

<%= form_for(@pet) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Your pet's name" %>

    <div class="field">
      <%= f.label :sex %>
      <%= f.select(:sex, [['Male', 'm'], ['Female', 'f']]) %>
    </div>

    <%= f.label :breed %>
    <%= f.text_field :breed, :placeholder => "Ex. My pet is a mix of Pit Bull and Boxer" %>

    <%= f.label :description %>
    <%= f.text_field :description, :placeholder => "Tell us about your pet!" %>

    <div class="button">
      <%= f.submit %>
    </div>
  </div>
<% end %>
