<!DOCTYPE html>
<html>
  <head>
    <title>Petpals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1 class="logo">Pet<i class="fa fa-paw" aria-hidden="true"></i>Pals</h1>
      <% end %>

      <nav class="navbar-right">
        <% if user_signed_in? %>
          <p>Logged in as <strong><%= current_user.email %></strong></p>
          <%= link_to 'Edit profile', edit_user_registration_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>

        <% else %>
          <%= link_to "Register", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <% if notice %>
      <div class="flash-container notice">
        <p class="flash"><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="flash-container alert">
        <p class="flash"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
